.devcard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem;
  background: var(--primary-bg-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  &__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &__image {
    flex: 1;
    height: 70px;
    max-width: 70px;
    border-radius: 70px;
    background: $primary-blue;
    & img {
      object-fit: cover;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  &__details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 1rem;
    &--langs {
      display: flex;
      align-self: flex-end;
      gap: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &--name {
      font-weight: 600;
    }
  }
  &__smalltext {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 12px;
    padding: 1rem 0 0.25rem 0;
  }
  &__skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    padding: 1rem 0;
  }
  &__button {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 600;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
    &-profile {
      background: var(--secondary-bg-color);
      color: inherit;
      &:hover {
        outline: 1px solid var(--secondary-blue);
        transition: all 0.3s ease-in-out;
      }
    }
    &-follow {
      background: var(--secondary-blue);
      color: var(--opposite-text-color);
      &:hover {
        background: var(--primary-blue);
        transition: all 0.3s ease-in-out;
      }
    }
    &-unfollow {
      background: var(--secondary-bg-color);
      color: var(--secondary-blue);
    }
  }
  &__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
  }

}