.nav{
  width: 256px;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $screen-large) {
    width: 64px;
    padding: 32px 8px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: $screen-large) {
      justify-content: center;
    }
    &:hover {
      background: var(--primary-blue);
      transition: all 0.3s ease-in-out;
    }
    &.active{
      background: var(--primary-blue);
    }
    & span {
      margin-left: 1rem;
      font-size: 1.25rem;
      @media screen and (max-width: $screen-large) {
        display: none;
      }
    }

  }
  &__switch {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 60px;
    height: 32px;
    margin: 0 8px;
    &-icon {
      @media screen and (max-width: $screen-large) {
        display: none;
      }
    }
    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    & .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--primary-bg-color);
      border: 2px solid var(--secondary-blue);
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        background-color: var(--secondary-blue);
        -webkit-transition: .4s;
        transition: .4s;
        @media screen and (max-width: $screen-large) {
          display: none;
        }
      }
      &.round {
        border-radius: 32px;
        &::before {
          border-radius: 50%;
        }
      }
    }
  }
}
  // input:checked + .slider {
  //   background-color: $secondary-black;
  // }
  
  input:checked + .slider:before {
    top: 50%;
    transform: translate(24px, -50%);
    @media screen and (max-width: $screen-large) {
      display: none;
    }
  }