.searchbox {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--primary-bg-color);
  border-radius: 0.5rem;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 2rem;
    background: transparent;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--secondary-bg-color);
    padding: 0 0.5rem;
  }
  &__input {
    width: 100%;
    background: transparent;
    color: var(--primary-text-color);
    font-family: inherit;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
  }
}