.skillstags{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 6px;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $primary-white;
    border-radius: 0.5rem;
  } 
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-blue;
    border-radius: 0.5rem;
    outline: none;
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: $primary-white;
    margin-right: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    &.active {
      background: $secondary-blue;
    }
    & span {
      font-size: 12px;
    }
  }
}