html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $primary-white;
  
    
  } 
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-blue;
    border-radius: 6px;
    outline: none;
  }
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  width: calc(100% - 256px);
  max-width: calc(100% - 256px);
  min-height: calc(100vh - 56px);
  margin-left: 256px;
  margin-top: 56px;
  @media screen and (max-width: $screen-large) {
    width: calc(100% - 64px);
    max-width: calc(100% - 64px);
    margin-left: 64px;
  }
  @media screen and (max-width: $screen-small) {
    width: calc(100% - 48px);
    max-width: calc(100% - 48px);
    margin-left: 48px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}