.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        padding: 1rem 0;

        @media screen and (min-width: 1600px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        gap: 1rem;

        &-button {
            background: transparent;
            border: none;
            outline: none;
            padding: 0 0 0.5rem 0;
            font-size: 1.25rem;
            color: $secondary-black;
            position: relative;
            cursor: pointer;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 0;
                height: 4px;
                border-radius: 5px;
                background: $primary-blue;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: $primary-black;

                &::before {
                    background: $primary-blue;
                    ;
                    width: 100%;
                    height: 4px;
                    transition: all 0.3s ease-in-out;
                }
            }

            &.active {
                color: $primary-black;

                &::before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 4px;
                    border-radius: 5px;
                    background: $primary-blue;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }


}

.add {
    &__image-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 9px;
    }

    &__img {
        height: 150px;
        width: 150px;
        background-color: $primary-blue;
        justify-content: center;
        text-align: center;
        border-radius: 9px;
        image-rendering: -webkit-optimize-contrast;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

}
